  @font-face {
    font-family: 'Inter';
    src: url('inter/static/Inter-Light.ttf') format('woff2');
    font-weight: light;
    font-style: normal;
  }

  @font-face {
    font-family: 'Inter';
    src: url('inter/static/Inter-Medium.ttf') format('woff2');
    font-weight: medium;
    font-style: normal;
  }

  @font-face {
    font-family: 'Inter';
    src: url('inter/static/Inter-Regular.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('inter/static/Inter-Bold.ttf') format('woff2');
    font-weight: bold;
    font-style: normal;
  }